.bg-parents {
  background-image: url("../../assets/img/Bg_parents.jpg");
}

.section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6%;
}

.section-container-right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6%;
}

.card-parents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4%;
}

h2 {
  font-size: 1rem !important;
  font-weight: 500 !important;
  color: var(--purple-dark);
  text-align: justify;
}

@media screen and (max-width: 577px) {
  .section-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .section-container-right {
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }

  .bg-parents {
    background-image: url("../../assets/img/Bg_parents.jpg");
    background-size: 70vh;
  }
}

@media screen and (min-width: 1280px) {
    .section-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 3%;
      }
      
      .section-container-right {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2%;
      }

      .card-parents {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40rem;
        margin: 4%;
      }
}
