.Memory {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url("../../assets/img/Bg_memory.png");
    background-size: contain;
    background-repeat: no-repeat;
}