.bg-suggestions-container{
    background-size:contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-suggestions{
    margin-top: 0.1rem;
    display: flex;
    gap: 0.5rem;
}

.text-suggestions img{
    width: 30px;
    height: 30px;
}

.text-suggestions p{
    color: var(--purple);
    font-weight: bold;
    font-size: 22px;
}