.music-button-styles{
    position: absolute;
    top: 10px;
    left: 110px;
    cursor: pointer;
}

.music-button-styles:active{
    transform: scale(1.1);
    transition: 0.2s all;
    cursor: pointer;
}

.music-button-styles img{

    width: 44.25px;
    height: 44.25px;

}

@media screen and (min-width: 577px){
    .music-button-styles{
        top: 25px;
        left: 180px;
    }
    
    .music-button-styles img{
    
        width: 44.25px;
        height: 44.25px;
    
    }

}

